.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 5rem;
    padding: 1rem 1rem;
    margin-top: 5rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    max-width: 550px;
}

.header-left h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #374151;
    line-height: 1.1;
}

.header-highlight {
    background: linear-gradient(to right, #2563eb, #c026d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 13px;
    color: #6b7280;
}

.upload-btn {
    all: unset;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.9rem 2rem;
    border-radius: 999px;
    background: linear-gradient(to right,#2563eb, #c026d3) !important;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.upload-btn:hover {
    transform: scale(1.05);
}

.upload-btn p {
    color: white;
    font-size: 14px;
}

.header-right {
    width: 100%;
    max-width: 430px;
}

.header-right img {
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column-reverse;
        gap: 2rem;
        text-align: center;
    }

    .hide-on-mobile {
        display: none;
    }
}
